.sesion_inv{
    
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    border-color: #da0000;
    background-color: #2ab47f;
    
}
/* #menu */
#logo img{
    max-width: 100%;
}
#logo{
    width: 5%;
}
a{
	text-decoration: none;
	color: rgb(19, 22, 22);
}
nav{
    display: flex;
	border-top:  1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 25px;
    align-items: center;
}
nav ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
main{
    width: 100%;
}


/*footer*/
footer{
    width: 100%;
    background-color: #53aee2 ;
    padding: 1em;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.mapa_web a{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.mapa_web a:hover{
    text-decoration: underline;
}


@media (max-width:658px){
    footer{
        flex-wrap: wrap;
    }
}
/*Cliente*/
.forma_cli{
    border: 2px solid blue;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.botones{
    display: flex;
    flex-direction: column;
}

/*noticias*/
.forma_not {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 25%;
}
#mae{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#mae p{
    width: 200px;
}
#puntos_sus {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /*Calendario*/
  .finde{
      background-color: gray;
  }
  .dia_cit{
      background-color: blue;
  }

  /*Login*/

  .container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}

#inscripcion {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#inscripcion .header {
    margin-bottom: 20px;
}

#inscripcion .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#inscripcion .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#inscripcion .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#inscripcion .inputs {
    margin-top: 25px;
}

#inscripcion .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#inscripcion .inputs input[type=text], .contrasenia {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#inscripcion .inputs input[type=text]:focus, .contrasenia:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;   
}

#inscripcion .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#inscripcion .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#inscripcion .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#inscripcion .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
        background: -moz-linear-gradient(
        top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#inscripcion .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}
  